<div class="card active-challenges">
    <div class="card-header">
        <h2>Active Challenges</h2>
    </div>
    <div class="card-body card-padding" ng-if="vm.challenges === null">Getting active challenges...</div>
    <div class="card-body card-padding" ng-if="vm.challenges.length === 0">No challenges at this time</div>
    <div class="card-body table-responsive hidden-xs" ng-if="vm.challenges.length > 0">
        <table ng-table="vm.tableData" class="table table-striped table-vmiddle">
            <tr ng-repeat="challenge in $data">
                <td data-title="'Challenger'">
                    {{challenge.challenger.displayName}}
                </td>
                <td data-title="'Opponent'">
                    {{challenge.opponent.displayName}}
                </td>
                <td data-title="'Forfeit'">
                    <i class="zmdi zmdi-time"></i>
                    <span ng-if="challenge.expires >= .5">{{challenge.expires | number: 0}}hrs</span>
                    <span ng-if="challenge.expires < .5">Soon</span>
                    <i class="zmdi zmdi-close-circle-o delete-challenge-control" ng-click="vm.deleteChallenge(challenge._id, $index)" ng-if="vm.allowDelete"></i>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-body table-responsive visible-xs" ng-if="vm.challenges.length > 0">
        <table ng-table="vm.tableData" class="table table-striped table-vmiddle">
            <tr ng-repeat="challenge in $data">
                <td data-title="'Challenger'">
                    {{challenge.challenger.displayName}}
                </td>
                <td data-title="'Opponent'">
                    {{challenge.opponent.displayName}}
                    <i class="zmdi zmdi-close-circle-o delete-challenge-control" ng-click="vm.deleteChallenge(challenge._id, $index)" ng-if="vm.allowDelete"></i>
                </td>
            </tr>
        </table>
    </div>
</div>