<div class="card completed-challenges">
    <div class="card-header ch-alt">
        <h2>Completed Challenges</h2>
    </div>
    <div class="card-body c-overflow" scrollaxis="x">
        <div class="challenge-result" ng-repeat="challenge in vm.challenges" ng-if="vm.challenges.length > 0">
            <div class="player winner">{{challenge[challenge.winner].firstName}} {{challenge[challenge.winner].lastName}}</div>
            <div class="action">defeated</div>
            <div class="player">{{challenge[challenge.loser].firstName}} {{challenge[challenge.loser].lastName}}</div>
            <div class="badge">{{challenge.whenCompleted}}</div>
        </div>
    </div>
</div>