<div class="card completed-challenges">
    <div class="card-header">
        <h2>Completed Challenges</h2>
    </div>
    <div class="card-body card-padding" ng-if="vm.challenges === null">Getting completed challenges...</div>
    <div class="card-body card-padding" ng-if="vm.challenges.length === 0">No completed challenges</div>
    <div class="card-body table-responsive hidden-xs" ng-if="vm.challenges.length > 0">
        <table ng-table="vm.tableData" class="table table-striped table-vmiddle">
            <tr ng-repeat="challenge in $data">
                <td data-title="'Winner'">
                    {{challenge[challenge.winner].displayName}}
                </td>
                <td data-title="'Loser'">
                    {{challenge[challenge.loser].displayName}}
                </td>
                <td data-title="'Date'">
                    {{challenge.whenCompleted}}
                    <i class="zmdi zmdi-close-circle-o delete-challenge-control" ng-click="vm.deleteChallenge(challenge._id, $index)" ng-if="vm.allowDelete"></i>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body table-responsive visible-xs" ng-if="vm.challenges.length > 0">
        <table ng-table="vm.tableData" class="table table-striped table-vmiddle">
            <tr ng-repeat="challenge in $data">
                <td data-title="'Winner'">
                    {{challenge[challenge.winner].displayName}}
                </td>
                <td data-title="'Loser'">
                    {{challenge[challenge.loser].displayName}}
                    <i class="zmdi zmdi-close-circle-o delete-challenge-control" ng-click="vm.deleteChallenge(challenge._id, $index)" ng-if="vm.allowDelete"></i>
                </td>
            </tr>
        </table>
    </div>
</div>