<div class="container pyramid-container">
    <div class="card">
        <!-- Competition -->
        <div class="ms-body">
            <div class="listview lv-message">
                <div class="lv-header-alt clearfix">
                    <div class="lvh-label hidden-xs">{{vm.competition.activity}}</div>
                    <ul class="lv-actions actions">
                        <li ng-if="vm.currentUserIsAdmin">
                            <a ui-sref="competitions.admin({competitionId: vm.competitionId})">
                                <i class="zmdi zmdi-edit"></i>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="competitions.stats({competitionId: vm.competitionId})">
                                <i class="zmdi zmdi-trending-up"></i>
                            </a>
                        </li>
                        <li ng-if="vm.currentUserIsOnCompetition">
                            <a href="" ng-click="vm.confirmRemoveCurrentUserFromCompetition()">
                                <i class="zmdi zmdi-close-circle-o"></i>
                            </a>
                        </li>
                        <li ng-if="!vm.currentUserIsOnCompetition && !vm.currentUserIsPending && vm.numberOfRealPlayers < vm.maxPlayers">
                            <a href="" ng-click="vm.addCurrentUserToCompetition()">
                                <i class="zmdi zmdi-account-add"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="lv-body pyramid">
                    <div ng-repeat="level in vm.levels" class="level level-{{level}}">
                        <div class="level-marker">{{level}}</div>
                        <div ng-repeat="player in vm.competition.players" ng-if="player.level === level" class="pyramid-block" ng-class="player.class">
                            <!-- Player info -->
                            <a class="player-name" ui-sref="player.competition({userId: player._id, competitionId: vm.competitionId})" ng-if="player.position !== 99">
                                {{player.displayName}}
                                <div ng-if="player.displayName !== player.firstName + ' ' + player.lastName">{{player.firstName}} {{player.lastName}}</div>
                            </a>
                            <div class="player-name" ng-if="player.position === 99">{{player.displayName}}</div>

                            <!-- Info tray -->
                            <div class="tray"
                                ng-class="{'open': player.expandTray}"
                                ng-if="player.available || player.waitUntil || player.hold || player._id === vm.currentUserPlayer._id || player.challenge || (!vm.currentUserIsOnCompetition && player.position === 99)">
                                <!-- Tray expand icon -->
                                <i class="zmdi zmdi-chevron-up cur-pointer tray-expander"
                                    ng-class="player.expandTray ? 'zmdi-chevron-down' : 'zmdi-chevron-up'"
                                    ng-click="player.expandTray = !player.expandTray"
                                    ng-if="player._id === vm.currentUserPlayer._id && vm.hasActiveChallenge"></i>
                                <!-- Active challenge time -->
                                <div ng-if="player.challenge && player.challenge.position === 'opponent' && player.challenge.expires" ng-class="{'c-red': player.challenge.expires < .5}">
                                    <i class="zmdi zmdi-timer"></i>
                                    <span ng-if="player.challenge.expires >= .5">{{player.challenge.expires | number: 0}}hrs</span>
                                    <span ng-if="player.challenge.expires < .5">Forfeit Soon</span>
                                </div>
                                <!-- Show create challenge modal -->
                                <div class="c-green cur-pointer"
                                    ng-if="player.available"
                                    ng-click="vm.confirmCreateChallenge(player)">Challenge Player</div>
                                <!-- Display who this person has challenged -->
                                <div
                                    ng-if="player.challenge && player.challenge.position === 'challenger'">
                                    <i class="zmdi zmdi-triangle-up"></i> {{player.challenge.opponent}}</div>
                                <!-- Show complete challenge modal -->
                                <div class="cur-pointer c-blue"
                                    ng-if="vm.hasActiveChallenge && player._id === vm.currentUserPlayer._id"
                                    ng-click="vm.playerClick(player)">
                                    <i class="zmdi zmdi-check sm"></i> Match Result</div>
                                <!-- Show cancel active challenge modal -->
                                <div class="cur-pointer c-red"
                                    ng-if="vm.hasActiveChallenge && player._id === vm.currentUserPlayer._id && player.challenge.position === 'challenger'"
                                    ng-click="vm.confirmCancelChallenge()">
                                        <i class="zmdi zmdi-close-circle-o sm"></i> Cancel Challenge</div>
                                <!-- Show forfeit active challenge modal -->
                                <div class="cur-pointer c-red"
                                    ng-if="player._id === vm.currentUserPlayer._id && vm.hasActiveChallenge && player.challenge.position === 'opponent'"
                                    ng-click="vm.confirmForfeitChallenge(player)">
                                    <i class="zmdi zmdi-flag sm"></i> Forfeit Match</div>
                                <!-- Join the competition -->
                                <div class="cur-pointer"
                                    ng-if="!vm.currentUserIsOnCompetition && player.position === 99"
                                    ng-click="vm.playerClick(player)">Join</div>
                                <!-- Show waiting period -->
                                <div class="c-orange"
                                    ng-if="player.waitUntil">
                                    <i class="zmdi zmdi-time-countdown"></i> {{player.waitUntil}}
                                </div>
                                <!-- Show on hold modal -->
                                <div class="cur-pointer c-blue"
                                    ng-if="!vm.hasActiveChallenge && player._id === vm.currentUserPlayer._id && !player.hold && !player.preventHold"
                                    ng-click="vm.putPlayerOnHold(player)">
                                    <i class="zmdi zmdi-alert-octagon"></i> Put On Hold</div>
                                <!-- Show on hold -->
                                <div class="c-orange"
                                    ng-if="player.hold && player._id !== vm.currentUserPlayer._id">
                                    <i class="zmdi zmdi-alert-octagon"></i> {{player.holdUntil}}
                                </div>
                                <!-- Show remove hold -->
                                <div class="c-orange cur-pointer"
                                    ng-if="player.hold && player._id === vm.currentUserPlayer._id" ng-click="vm.cancelPlayerHold(player)">
                                    <i class="zmdi zmdi-alert-octagon"></i> Remove Hold
                                </div>

                            </div>
                            <!-- Complete a challenge modal -->
                            <div class="complete-challenge-modal" ng-if="player._id === vm.currentUserPlayer._id && player.showChallengeModal">
                                <i class="zmdi zmdi-close" ng-click="vm.playerClick(player)"></i>
                                <p class="m-b-5 m-t-5">Your Result</p>
                                <div class="btn-container">
                                    <button class="btn btn-success waves-effect" ng-click="vm.completeChallenge(true)">Won</button>
                                    <button class="btn btn-danger waves-effect" ng-click="vm.completeChallenge(false)">Lost</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>