<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="block-header">
                <h2>Welcome to the Knifeplane</h2>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Login</h2>
                </div>
                <div class="card-body card-padding">
                    <form role="form" name="loginForm" ng-submit="vm.login(vm.username, vm.password)" novalidate>
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input type="email" class="form-control fg-input" ng-model="vm.username">
                                <label class="fg-label">Email</label>
                            </div>
                        </div>
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input type="password" class="form-control fg-input" ng-model="vm.password">
                                <label class="fg-label">Password</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary waves-effect">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>