<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="block-header">
                <h2>Register for the WannaPlayMe</h2>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Register</h2>
                </div>
                <div class="card-body card-padding">
                    <form role="form" name="newUserForm" ng-submit="vm.register(vm.newUser)" novalidate>
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input class="form-control" type="email" name="username" ng-model="vm.newUser.username" required>
                                <label class="fg-label">Email</label>
                            </div>
                        </div>
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input class="form-control" type="password" ng-model="vm.newUser.password" required>
                                <label class="fg-label">Password</label>
                            </div>
                        </div>
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input class="form-control" type="password" ng-model="vm.newUser.confirmPassword" required>
                                <label class="fg-label">Confirm Password</label>
                            </div>
                        </div>
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input class="form-control" type="text" ng-model="vm.newUser.firstName" required>
                                <label class="fg-label">First Name</label>
                            </div>
                        </div>
                        <div class="form-group fg-float m-b-30">
                            <div class="fg-line">
                                <input class="form-control" type="text" ng-model="vm.newUser.lastName" required>
                                <label class="fg-label">Last Name</label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary waves-effect" ng-disabled="newUserForm.$invalid">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>