<div class="container">
    <div class="block-header">
        <h2>{{vm.player.displayName}}
            <small>Statistics</small>
        </h2>
        <ul class="actions">
            <li>
                <a ui-sref="competitions.view({competitionId: vm.competitionId})">
                    <i class="zmdi zmdi-triangle-up"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="card">
        <div class="card-header">
                    <h2>Overall Statistics</h2>
                </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-md-6">
                    <canvas class="chart chart-bar" chart-data="vm.overall" chart-labels="vm.chart.labels" chart-colors="vm.chart.colors" chart-options="vm.overallChart.options"></canvas>
                </div>
                <div class="col-md-3">
                    <div class="p-15 text-center" ng-class="vm.streak.type === 'winning' ? 'bgm-green' : 'bgm-red'">
                        <div class="c-white m-b-5"><span class="text-capitalize">{{vm.streak.type}}</span> Streak</div>
                        <h2 class="m-0 c-white f-300">{{vm.streak.value}}</h2>
                    </div>
                    <div class="bg-app-gray p-15 text-center">
                        <div class="c-green m-b-5">Total Wins</div>
                        <h2 class="m-0 c-green f-300">{{vm.wins.total}}</h2>
                    </div>
                    <div class="bg-app-gray p-15 text-center">
                        <div class="c-red m-b-5">Total Loses</div>
                        <h2 class="m-0 c-red f-300">{{vm.loses.total}}</h2>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="bg-app-gray p-10 text-center">
                        <h5>Moving Up</h5>
                        <div>Wins: {{vm.wins.asChallenger}}</div>
                        <div>Loses: {{vm.loses.asChallenger}}</div>
                    </div>
                    <div class="bg-app-gray p-10 text-center">
                        <h5>Defending</h5>
                        <div>Wins: {{vm.wins.asOpponent}}</div>
                        <div>Loses: {{vm.loses.asOpponent}}</div>
                    </div>
                    <div class="bg-app-gray p-10 text-center">
                        <h5>Forfeits</h5>
                        <div>Wins: {{vm.wins.byForfeit}}</div>
                        <div>Loses: {{vm.loses.byForfeit}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" ng-repeat="player in vm.otherPlayers">
            <div class="card">
                <div class="card-header">
                    <h2><span class="nowrap-ellip">vs. {{player.displayName}}</span>
                        <small>{{player.firstName}} {{player.lastName}}</small>
                    </h2>
                </div>
                <div class="card-body card-padding">
                    <canvas class="chart chart-pie" chart-data="player.data" chart-labels="vm.chart.labels" chart-colors="vm.chart.colors" chart-options="vm.chart.options"></canvas>
                    <div class="flc-pie">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="legendColorBox">
                                        <div>
                                            <div class="wins"></div>
                                        </div>
                                    </td>
                                    <td class="legendLabel">Wins: <b>{{player.wins}}</b></td>
                                    <td class="legendColorBox">
                                        <div>
                                            <div class="loses"></div>
                                        </div>
                                    </td>
                                    <td class="legendLabel">Loses: <b>{{player.loses}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>