/**************************************************
View Transitions
**************************************************/
body {
  overflow-x: hidden;
}

#content.ng-enter,
#content.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}

#content.ng-enter {
  animation: slideInRight 0.5s ease both;
  animation-delay: 0.1s;
}

#content.ng-leave {
  animation: slideOutLeft 0.5s ease both;
}