/**************************************************
View Transitions
**************************************************/
body {
  overflow-x: hidden;
}

#content.ng-enter,
#content.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}

#content.ng-enter {
  animation: fadeIn .2s ease both;
  animation-delay: .1s;
}

#content.ng-leave {
  animation: fadeOut .2s ease both
}