/**************************************************
View Transitions
**************************************************/
body {
  overflow-x: hidden;
}

#header .logo a {
  > i {
    font-size: 30px
  }

  > div {
    display: inline-block;
    
    div {
      font-size: 10px;
      line-height: 10px;

      &.headline {
        font-size: 24px;
        line-height: 20px;
      }
    }
  }
}

#content.ng-enter,
#content.ng-leave {
  position: absolute;
  left: 0;
  right: 0;
}

#content.ng-enter {
  animation: fadeIn .2s ease both;
  animation-delay: .1s;
}

#content.ng-leave {
  animation: fadeOut .2s ease both
}

.btns-group {
  
  .btn {
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}