.challenges-list {
    text-align: center;

    .lv-header {
        margin-bottom: 0;
    }
    
    .lv-item,
    .lv-item:hover {
        background: none !important;
        border-bottom: 1px solid #eee;
        cursor: default !important;

        .player {
            font-size: @font-size-base - 1px;
            font-weight: bold;

            &.winner {
                font-size: @font-size-base + 2px;
            }
        }

        .action {
            font-size: @font-size-base - 2px;
            font-style: italic;
        }
    }
}

.completed-challenges .card-body {
    overflow-x: auto;
    white-space: nowrap;

    .challenge-result {
        display: inline-block;
        margin: 10px 0 10px 10px;
        padding: 10px;
        text-align: center;
        width: 200px;

        &:last-child {
            margin-right: 10px;
        }

        .player {
            font-size: @font-size-base - 1px;
            font-weight: bold;

            &.winner {
                font-size: @font-size-base + 3px;
            }
        }

        .action {
            font-size: @font-size-base - 2px;
            font-style: italic;
        }
    }
}

.player-statistics {
    .card-header h2 {
        margin-left: 10px;
        position: relative;

        button {
            cursor: default;
            font-size: @font-size-base + 3px;
            left: -40px;
            position: absolute;
            top: -30px;
        }
    }
     h5 {
         margin-bottom: 6px;
         margin-top: 6px;
     }
}