.challenges-list {
    text-align: center;

    .lv-header {
        margin-bottom: 0;
    }
    
    .lv-item {
        border-bottom: 1px solid #eee;

        .player {
            font-size: @font-size-base - 1px;
            font-weight: bold;

            &.winner {
                font-size: @font-size-base + 2px;
            }
        }

        .action {
            font-size: @font-size-base - 2px;
            font-style: italic;
        }
    }
}

.completed-challenges .card-body {
    height: 500px;
}