// Pyramid View
.pyramid {
    text-align: center;
    .level {
        padding: 5px 50px;
        position: relative;
        .level-marker {
            color: #ccc;
            font-size: 40px;
            left: 0;
            line-height: 75px;
            padding: 10px 15px;
            position: absolute;
            top: 0;
        }
    }
    .level:nth-child(odd) {
        background-color: #eee;
        .level-marker {
            color: #ddd;
        }
    }
    .level:nth-child(even) {
        background-color: #ddd;
    }
    .pyramid-block {
        background-color: #fff;
        border: 1px solid #bdbdbd;
        border-top-width: 3px;
        display: inline-block;
        font-size: 14px;
        height: 75px;
        margin: 5px;
        overflow: hidden;
        padding: 5px;
        position: relative;
        vertical-align: top;
        width: 150px;
        @media screen and (max-width: 450px) {
            width: 100%;
        }

        .player-name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;

            +.player-name {
                font-size: @font-size-base - 2px;
            }
        }

        &.empty {
            background-color: @m-gray;
            color: #fff;

            &.joinable {
                cursor: pointer;
            }
        }
        &.current-user {
            border-top: 3px solid @m-blue;
        }
        &.available {
            border-top: 3px solid @m-green;
            cursor: pointer;
        }
        &.unavailable {
            border-top: 3px solid @m-red;

            &.current-opponent {
                border-top: 3px solid @m-blue;
                cursor: pointer;
            }
            &.current-user {
                border-top: 3px solid @m-blue;
                cursor: pointer;
            }
        }

        .create-challenge-modal,
        .cancel-challenge-modal,
        .complete-challenge-modal {
            display: none;
            border-width: 3px;
            border-style: solid;
            border-top: none !important;
            height: 100%;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            animation: fadeIn .3s ease both;

            > i {
                font-size: 18px;
                position: absolute;
                right: 2px;
                top: 2px;
            }
        }

        &.available {
            .create-challenge-modal {
                background: fade(@m-green, 25%);
                border-color: @m-green;
                display: block;

                > i {
                    color: @m-green;
                }

                button {
                    .vertical-align();
                }
            }
        }

        &.unavailable {
            .cancel-challenge-modal {
                background: fade(@m-blue, 25%);
                border-color: @m-blue;
                display: block;

                > i {
                    color: @m-blue;
                }

                button {
                    .vertical-align();
                }
            }
        }

        &.unavailable {
            .complete-challenge-modal {
                background: #fff;
                border-color: @m-blue;
                display: block;

                > i {
                    color: @m-blue;
                }
            }
        }
    }
}