// Pyramid View
.pyramid {
    text-align: center;
    .level {
        padding: 5px 50px;
        position: relative;
        .level-marker {
            color: #ccc;
            font-size: 40px;
            left: 0;
            line-height: 75px;
            padding: 10px 15px;
            position: absolute;
            text-shadow: 1px 1px 0 rgba(249, 249, 249, 0.6), -1px -1px 1px rgba(134, 134, 134, 0.5);
            top: 0;
        }
    }
    .level:nth-child(odd) {
        background-color: #eee;
        .level-marker {
            color: #ddd;
        }
    }
    .level:nth-child(even) {
        background-color: #ddd;
    }
    .pyramid-block {
        background-color: #fff;
        border: 1px solid #bdbdbd;
        border-top-width: 3px;
        display: inline-block;
        font-size: 14px;
        height: 75px;
        margin: 5px;
        overflow: hidden;
        padding: 5px;
        position: relative;
        vertical-align: top;
        width: 150px;
        @media screen and (max-width: 450px) {
            width: 100%;
        }

        .tray {
            background-color: @app-gray;
            border-top: 1px solid darken(@app-gray, 10%);
            bottom: 0px;
            font-size: @font-size-base - 1px;
            left: 0px;
            max-height: 23px;
            position: absolute;
            transition: max-height .3s ease-in-out;
            width: 100%;

            &.open {
                max-height: 75px;
            }

            .tray-expander {
                font-size: 18px;
                height: 22px;
                right: 0;
                line-height: 18px;
                position: absolute;
                text-align: right;
                top: 0;
                width: 148px;
                padding-right: 5px;

                + div {
                    padding: 0 10px;
                }

                &:hover {
                    color: @m-blue;

                    + div {
                        color: @m-blue;
                    }
                }
            }

            > div {
                .nowrap-ellip();
                line-height: 22px;
                padding: 0 3px;

                &.cur-pointer:hover {
                    background-color: #ddd;
                }


                i {
                    font-size: 14px;

                    &.sm {
                        font-size: 12px;
                    }

                    &.cancel {
                        float: right;
                        line-height: 22px;
                    }
                }
            }
        }

        .player-name {
            .nowrap-ellip();

            +.player-name {
                font-size: @font-size-base - 2px;
            }
        }

        &.empty {
            background-color: @m-gray;
            color: #fff;

            .tray {
                color: @text-color;
            }
        }
        &.current-user {
            border-top: 3px solid @m-blue;
        }
        &.available {
            border-top: 3px solid @m-green;
        }
        &.unavailable {
            border-top: 3px solid @m-red;

            &.current-opponent {
                border-top: 3px solid @m-blue;
            }
            &.current-user {
                border-top: 3px solid @m-blue;
            }
        }
        &.hold {
            border-top: 3px solid @m-orange;
        }
        &.waiting {
            border-top: 3px solid @m-orange;
        }

        .complete-challenge-modal{
            display: none;
            background: #fff;
            border-width: 3px;
            border-style: solid;
            border-top: none !important;
            height: 100%;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            animation: fadeIn .3s ease both;

            > i {
                cursor: pointer;
                position: absolute;
                right: 3px;
                top: 0;
            }
        }

        &.unavailable {
            .complete-challenge-modal {
                border-color: @m-blue;
                display: block;

                > i {
                    color: @m-blue;
                }
            }
        }
    }
}
// Make it so Level 7 doesn't wrap
@media (min-width: @screen-md-max) {
    .pyramid .level-7 .pyramid-block {
        width: 138px;
    }
}