h1
  color green

/**************************************************
View Transitions
**************************************************/
body
  overflow-x hidden
  padding-top 70px

.main-view.ng-enter,
.main-view.ng-leave
  position absolute
  left 0
  right 0

.main-view.ng-enter
  animation moveFromRight 0.5s ease both
  animation-delay 0.1s

.main-view.ng-leave
  animation moveToLeft 0.5s ease both

@keyframes moveToLeft
  to
    transform translateX(-120%)
  from
    transform translateX(0)

@keyframes moveFromRight
  to
    transform translateX(0)
  from
    transform translateX(100%)
    
@keyframes moveToTop
  to
    transform translateY(-100%)
  from
    transform translateY(0)
    
@keyframes moveFromBottom
  to
    transform translateY(0)
  from
    transform translateY(100%)