.pyramid
  font-size 0
  text-align center
  
  .pyramid-name
    font-size 20px
    
  .pyramid-block
    border 1px solid #000
    display inline-block
    font-size 14px
    height 75px
    margin 5px
    padding 5px
    vertical-align top
    width 150px
    
    &.empty
      background-color #ccc
      
    &.current-user
      background-color #f00
      
    &.available
      background-color #0f0
      cursor pointer

    &.unavailable
      background-color #00f