.pyramid
  font-size 0
  text-align center
  
  .pyramid-name
    font-size 20px
    
  .pyramid-block
    border 1px solid #000
    cursor pointer
    display inline-block
    font-size 14px
    height 75px
    margin 5px
    padding 5px
    vertical-align top
    width 150px
    
    &.empty
      background-color #ccc
      cursor default
      
    &.active
      background-color #f00
      cursor default
      
&.non-player
  
  .pyramid-block
    cursor default
  
    &.empty
      cursor pointer