<ul class="header-inner clearfix">
    <li id="menu-trigger" target="mainmenu" ng-click="headerCtrl.toggleSidebar()" ng-class="{ 'open': headerCtrl.sidebarStatus.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>
    <li class="logo">
        <a data-ui-sref="home">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <div>
                <div class="headline"><b>Knife</b>plane</div>
                <div>Fight Your Way to the Top</div>
            </div>
        </a>
    </li>
    <li class="pull-right">
        <ul class="top-menu">
            <li id="toggle-width">
                <div class="toggle-switch">
                    <input id="tw-switch" type="checkbox" ng-model=" appCtrl.lockSidebar">
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>
            <li class="dropdown" uib-dropdown ng-if="vm.indentity.currentUser">
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-account"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li>
                        <a ng-click="vm.logout()" href=""><i class="zmdi zmdi-account-circle"></i> {{vm.indentity.currentUser.firstName}} {{vm.indentity.currentUser.lastName}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>