<div class="sidebar-inner">
    <ul class="main-menu">
        <li ui-sref-active="active">
            <a ui-sref="home"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li ui-sref-active="active" ng-if="!vm.indentity.isAuthenticated()">
            <a ui-sref="login"><i class="zmdi zmdi-account"></i> Login</a>
        </li>
        <li ui-sref-active="active" ng-if="!vm.indentity.isAuthenticated()">
            <a ui-sref="register"><i class="zmdi zmdi-account-add"></i> Register</a>
        </li>
        <li class="sub-menu" ng-class="{ 'active toggled': appCtrl.$state.includes('competitions') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-triangle-up"></i> Competitions</a>
            <ul>
                <li>
                    <a ui-sref-active="active" ui-sref="competitions.myCompetitions">My Competitions</a>
                </li>
                <li>
                    <a ui-sref-active="active" ui-sref="competitions.create">Cerate Competition</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="lock-sidebar">
    <div class="toggle-switch" id="toggle-width" data-ts-color="blue">
        <label for="lock-sidebar" class="ts-label">unlock</label>
        <input id="lock-sidebar" type="checkbox" hidden="hidden" ng-model="appCtrl.lockSidebar" ng-change="appCtrl.toggleSidebarLocked(appCtrl.lockSidebar)">
        <label for="lock-sidebar" class="ts-helper"></label>
        <label for="lock-sidebar" class="ts-label">lock</label>
    </div>
</div>