<div class="row" ng-if="vm.pyramids.length > 0">
    <div class="col-sm-3" ng-repeat="pyramid in vm.pyramids">
        <div class="card">
            <div class="card-header ch-alt">
                <h2>{{pyramid.name}}</h2>
                <a ui-sref="pyramids.view({competitionId: pyramid._id})" class="btn bgm-blue btn-float waves-effect">
                    <i class="zmdi zmdi-triangle-up"></i>
                </a>
            </div>
            <div class="card-body card-padding-sm">
                <div><i class="zmdi zmdi-accounts" uib-tooltip="# of Players" tooltip-placement="top"></i> {{pyramid.players.length}}</div>
            </div>
        </div>
    </div>
</div>
<div class="card" ng-if="vm.pyramids.length === 0">
    <div class="card-body card-padding-sm">No active competitions</div>
</div>