<div class="card">
    <div class="card-header ch-alt">
        <h2>Update Palyers</h2>
    </div>
    <div class="card-body card-padding-sm">
        <div class="row swapper">
            <div class="col-sm-5 m-b-30">            
                <label>Available Players</label>
                <ul>
                    <li ng-repeat="player in vm.availablePlayers" ng-click="vm.addPlayer(player)">
                        <span class="name">{{player.firstName}} {{player.lastName}}</span>
                    </li>
                </ul>
            </div>
            <span class="col-sm-1">
                <i class="zmdi zmdi-swap hidden-xs"></i>
                <i class="zmdi zmdi-swap-vertical visible-xs"></i>
            </span>
            <div class="col-sm-6 m-b-30">
                <label>Competiton Players</label>
                <ul sv-root sv-part="vm.addedPlayers" sv-on-sort="vm.reorderPlayers()">
                    <li ng-repeat="player in vm.addedPlayers" class="sortable" ng-class="'added-player' + ($index + 1)" sv-element>
                        <span class="position">{{player.position}}</span>
                        <span class="name" sv-handle>{{player.firstName}} {{player.lastName}}</span>
                        <i class="zmdi zmdi-close-circle-o" ng-click="vm.removePlayer(player, $index)"></i>
                    </li>
                </ul>
            </div>
            <div class="btns-group text-center">
                <button type="submit" class="btn btn-primary" ng-click="vm.updatePyramid()" ng-disabled="vm.disableSubmit">
                    <i class="zmdi zmdi-check"></i> Update Players
                </button>
                <button class="btn btn-default" ng-click="vm.cancelUpdate()" ng-disabled="vm.disableSubmit">
                    <i class="zmdi zmdi-close"></i> Cancel
                </button>
            </div>
        </div>       
    </div> 
</div>