<div class="container">
    <div class="block-header">
        <h2>{{vm.pyramid.name}} Admin</h2>
        <ul class="actions">
            <li>
                <a ui-sref="pyramids.view({competitionId: vm.competitionId})" uib-tooltip="View Pyramid" tooltip-placement="bottom">
                    <i class="zmdi zmdi-triangle-up"></i>
                </a>
            </li>
            <li>
                <a ui-sref="pyramids.stats({competitionId: vm.competitionId})" uib-tooltip="View Statistics" tooltip-placement="bottom">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
        </ul>
    </div>
    <div kp-completed-challeneges competition-id="{{vm.competitionId}}" challenges="vm.challenges"" allow-delete="vm.isAdmin"></div>
    <div kp-pending-players pyramid="vm.pyramid"></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Delete Pyramid</h2>
                </div>
                <div class="card-body card-padding-sm text-center">
                    <button class="btn btn-danger" ng-click="vm.deletePyramid()">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Player Joins</h2>
                </div>
                <div class="card-body card-padding-sm">
                    <div class="checkbox player-joins-checkbox">
                        <label>
                            <input type="checkbox" value="" ng-model="vm.pyramid.restrictJoins" ng-change="vm.updatePyramidRestrictJoins()">
                            <i class="input-helper"></i>
                            Admins must approve join requets
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div kp-update-players pyramid="vm.pyramid"></div>
    <div kp-update-admins pyramid="vm.pyramid"></div>
</div>