<div class="container">
    <div class="block-header">
        <h2>{{vm.pyramid.name}} Admin</h2>
        <ul class="actions">
            <li>
                <a ui-sref="pyramids.view({competitionId: vm.competitionId})" uib-tooltip="View Pyramid" tooltip-placement="bottom">
                    <i class="zmdi zmdi-triangle-up"></i>
                </a>
            </li>
            <li>
                <a ui-sref="pyramids.stats({competitionId: vm.competitionId})" uib-tooltip="View Statistics" tooltip-placement="bottom">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
        </ul>
    </div>
    <div kp-pending-players competition-id="{{vm.competitionId}}"></div>
    <div class="row">
        <div class="col-sm-6">
            <div kp-update-players pyramid="vm.pyramid"></div>
        </div>
        <div class="col-sm-6">
            <div class="card">        
                <div class="card-header ch-alt">
                    <h2>Owners</h2>
                </div>
                <div class="card-body card-padding-sm">
                    <ul>
                        <li ng-repeat="owner in vm.pyramid.owners">
                            {{owner.firstName}} {{owner.lastName}}
                        </li>
                    </ul>
                </div> 
            </div>
            <div class="toggle-switch" data-ts-color="blue">
                <label for="open" class="ts-label" uib-tooltip="Anyone can join an open competition. Closed requires owner approval." tooltip-placement="top">Open Competition</label>
                <input id="open" type="checkbox" hidden="hidden" ng-model="vm.pyramid.open" ng-change="vm.updatePyramidOpenStatus()">
                <label for="open" class="ts-helper"></label>
            </div>
        </div>
    </div>
</div>