<div class="container">
    <div class="block-header">
        <h2>Create a New Pyramid</h2>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Pyramid Details</h2>
        </div>
        <div class="card-body card-padding">
            <form name="createPyramidForm" class="create-pyramid-form" ng-submit="vm.createPyramid(vm.newPyramid)" novalidate>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group m-b-30">
                            <div class="fg-line">
                                <input type="text" class="form-control" ng-model="vm.newPyramid.name" placeholder="Pyramid Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 m-t-5">
                        <label class="m-b-10">Forfeit Days:
                            <span ng-if="vm.newPyramid.forfeitDays === 0"> No Limit</span>
                            <span ng-if="vm.newPyramid.forfeitDays > 0">{{ vm.newPyramid.forfeitDays }}</span>
                        </label>
                        <div class="input-slider m-b-30" slider ng-model="vm.newPyramid.forfeitDays" start="0" end="5" step="1" data-is-color="blue"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 m-b-30">
                        <label>Available Players</label>
                        <ul class="pyramid-players">
                            <li ng-repeat="player in vm.availablePlayers">
                                {{player.firstName}} {{player.lastName}}
                                <i class="zmdi zmdi-plus-circle-o" ng-click="vm.addPlayer(player)"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2 swap-players">
                        <i class="zmdi zmdi-swap hidden-xs"></i>
                        <i class="zmdi zmdi-swap-vertical visible-xs"></i>
                    </div>
                    <div class="col-sm-5 m-b-30">
                        <label>Challenge Players</label>
                        <ul class="pyramid-players added-players" sv-root sv-part="vm.addedPlayers" sv-on-sort="vm.reorderPlayers()">
                            <li ng-repeat="player in vm.addedPlayers" class="sortable" ng-class="'added-player' + ($index + 1)" sv-element>
                                <span class="position">{{player.position}}</span> {{player.firstName}} {{player.lastName}}
                                <i class="zmdi zmdi-unfold-more sort" sv-handle></i>
                                <i class="zmdi zmdi-close-circle-o" ng-click="vm.removePlayer(player, $index)"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-b-30">
                    <div class="toggle-switch" data-ts-color="blue">
                        <label for="open" class="ts-label" uib-tooltip="Anyone can join an open competition. Closed requires owner approval." tooltip-placement="top">Open Competition</label>
                        <input id="open" type="checkbox" hidden="hidden" ng-model="vm.newPyramid.open">
                        <label for="open" class="ts-helper"></label>
                    </div>
                </div>
                <div class="btns-group text-center">
                    <button type="submit" class="btn btn-primary" ng-disabled="createPyramidForm.$invalid">
                        <i class="zmdi zmdi-check"></i> Create Pyramid
                    </button>
                    <a class="btn" ui-sref="pyramids">
                        <i class="zmdi zmdi-close"></i> Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>