<div class="container">
    <div class="block-header">
        <h2>{{vm.pyramid.name}}</h2>
        <ul class="actions">
            <li>
                <a ui-sref="pyramids.view({competitionId: vm.competitionId})" uib-tooltip="View Pyramid" tooltip-placement="bottom">
                    <i class="zmdi zmdi-triangle-up"></i>
                </a>
            </li>
        </ul>
    </div>
    <div kp-completed-challeneges competition-id="{{vm.competitionId}}"></div>
    <div ng-repeat="player in vm.pyramid.players | orderObjectBy: 'position'" kp-player-overall-results competition-id="{{vm.competitionId}}" player="player"></div>
</div>