<div class="container">
    <div class="block-header">
        <h2>Welcome to Wanna<b>Play</b>Me</h2>
    </div>
    <div class="card">
        <div class="card-header ch-alt">
            <h2>What is Wanna<b>Play</b>Me?</h2>
        </div>
        <div class="card-body card-padding-sm">
            <p>Wanna<b>Play</b>Me is a competition tracking app.  It allows you to set up a competition between you and others, challenge them to a match in whatever your competition is and track the results of the competition.</p>
        </div> 
    </div>
    <div class="block-header">
        <h2>Active Competitions</h2>
    </div>
    <div kp-pyramid-compact></div>
</div>