link(href="/animate.css/animate.min.css" rel="stylesheet")
link(href="/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet")
link(href="/nouislider/jquery.nouislider.css" rel="stylesheet")
link(href="/chosen/chosen.css" rel="stylesheet")
link(href="/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet")
link(href="/combined.css" rel="stylesheet")