doctype
html(ng-app="app" ng-controller="AppCtrl as appCtrl")
    head
        title Knifeplane
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        meta(name="viewport", content="width=device-width,user-scalable=no")
        include css
        base(href="/")

    body.sw-toggled
        include currentUser
        block main-content
        include scripts