script(src="/jquery/dist/jquery.min.js")

script(src="/angular/angular.min.js")
script(src="/angular-ui-router/release/angular-ui-router.min.js")
script(src="/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(src="/angular-animate/angular-animate.min.js")
script(src="/angular-timer/dist/angular-timer.min.js")
script(src="/lodash/dist/lodash.min.js")
script(src="/moment/min/moment.min.js")
script(src="/moment/min/locales.min.js")
script(src="/humanize-duration/humanize-duration.js")
script(src="/Waves/dist/waves.js")
script(src="/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js")
script(src="/angular-loading-bar/src/loading-bar.js")
script(src="/nouislider/jquery.nouislider.js")
script(src="/nouislider/Link.js")
script(src="/angular-nouislider/src/nouislider.min.js")
script(src="/chosen/chosen.jquery.js")
script(src="/angular-chosen-localytics/dist/angular-chosen.js")
script(src="/bootstrap-sweetalert/dist/sweetalert.min.js")
script(src="/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
script(src="/angular-local-storage/dist/angular-local-storage.min.js")
script(src="/angular-sortable-view/src/angular-sortable-view.min.js")
script(src="/angular-vertilize/angular-vertilize.min.js")
script(src="/chart.js/dist/Chart.min.js")
script(src="/angular-chart.js/dist/angular-chart.min.js")

script(src="/app.js")
script(src="/analytics.js")
script(src="/ng-table/dist/ng-table.min.js")