script(src="/jquery/dist/jquery.min.js")
script(src="/lodash/dist/lodash.min.js")
script(src="/angular/angular.min.js")
script(src="/angular-bootstrap/ui-bootstrap.min.js")
script(src="/angular-ui-router/release/angular-ui-router.min.js")
script(src="/angular-animate/angular-animate.min.js")
script(src="/angular-ui-notification/dist/angular-ui-notification.min.js")
script(src="/isteven-angular-multiselect/isteven-multi-select.js")
script(src="/app.js")